body {
  background-color: darkslateblue;
}

.full-div {
  width: 100%;
  height: 100%;
}

.center-div {
  width: 80%;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

h1 {
  font-size: 3em;;
}

p {
  font-size: 2em;
}